<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css">
    	<link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>

        <div class="container mt-5">
        {% with msgs = get_flashed_messages(with_categories=true) %}
            {% if msgs %}
                {% for category, msg in msgs %}
                    <div class="alert alert-{{ category }}">{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    
        {% block content %} CONTENT GOES HERE {% endblock %}
        
    	<script src="http://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="/static/script.js"></script>
    </body>
    </html>